
@{
    ViewBag.Title = "Home";
}

<div style="display:none">
  <div id="icons">
    @*24x24 px*@
    <img data-name="enemy" src="~/Content/Icons/skull-and-bones.png" />
    <img data-name="friend" src="~/Content/Icons/eagle-shield.png" />
  </div>
</div>


@*plus button*@
<div data-bind="click: ShowMenuForMobile" id="plus-button" class="circleBase circle-red centerItems hidden-md hidden-lg" style="position: absolute; bottom: 5px; left: 5px; z-index:10">
  <i class="fa fa-plus" style="font-size: large; color:white"> </i>
</div>


<div class="col-md-2 col-xs-5 hidden-xs" id="leftOptions" style="height: 100vh; background-color:red">
  <div class="row ur-box-sm">
    <div class="col-xs-9">
      <img src="~/Content/Images/avatar.png" class="img-keep-aspect-ratio" style="max-height: 20vh" />
    </div>
    <div class="col-xs-2 visible-xs" data-bind="click: HideMenuForMobile">
      <i class="fa fa-close" style="font-size:medium"></i>
    </div>
  </div>
  
  <div class="row ur-box-sm" style="padding: 5px 10px">
    <input class="col-xs-12 form-control" type="text" data-bind="value: SearchField" />
  </div>

  <div class="row">

  </div>
</div>
@*MAP*@
<div class="col-xs-12 col-md-10 pull-right" id="map" style="height: 100vh">

</div>
@section Scripts{
  <script src="~/Scripts/ApplicationScripts/HomePageScript.js"></script>
@*<script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>*@
<script src ="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlmQKQdY5GMqusN3Ij4ZC1a_1hBwQ2uf4&callback=myMap"></script>
}